/* Nollställer marginaler och paddings*/
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Generell styling*/
body {
  @include background;
  height: 100%;
  font-family: $main-font;
  background: $bg-color;
  color: setTxtColor($bg-color);
  line-height: 1.5;
}

// Rubriker
h1,
h2 {
  font-weight: 400;
  font-family: $head-font;
  color: setTxtColor($bg-color);

  &.lg-heading {
    font-size: 6rem;
  }
  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten($bg-color, 2), 0.5);
  }
}

// Länkar
a {
  text-decoration: none;
  color: setTxtColor($bg-color);
}

// Listor
ul {
  list-style: none;
}

// Bilder
img {
  display: block;
  height: auto;
}

// Sektioner

// Header
header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

// Main
main {
  padding: 4rem;
  min-height: calc(
    100vh - 50px
  ); // Ordnar så att footer alltid finns i botten av sidan.

  .icons {
    margin-top: 1rem;
    font-size: 2rem;

    a {
      padding: 0.4rem;

      &:hover {
        color: $header-color;
        @include easeOut();
      }
    }
  }

  &#home {
    overflow: hidden;
    h1 {
      margin-top: 20vh;
    }
  }
}
