//Main
.text-secondary {
  color: $header-color;
}

// Om mig
main#about {
  h1 {
    padding-bottom: 20px;
  }
}

.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
    "bioimage bio bio"
    "education-header education-header education-header";
  grid-template-columns: 1fr 1fr 1fr;

  .bio-image {
    grid-area: bioimage;
    margin: auto;
    border-radius: 50%;
    border: solid 3px $header-color;
  }

  .bio {
    grid-area: bio;
    font-size: 1.5rem;
  }

  .education-header {
    grid-area: education-header;
    color: $header-color;
    font-size: 1.5rem;
    font-family: $head-font;
  }

  .bio-text {
    background: $dark-color;
    padding: 0.5rem;
  }
}

#output {
  font-size: 1.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  .job {
    background: $dark-color;
    padding: 0.5rem;
    border-bottom: 3px solid $header-color;
    h4 {
      font-family: $head-font;
    }
  }
}
#output2 {
  @extend #output;
}

// Projekt
#projects {
  display: grid;
  grid-gap: 0.7rem;
  grid-template-columns: 1fr 1fr 1fr;
  font-size: 1.2rem;

  .item {
    background: $dark-color;

    .item-text {
      padding: 20px;
    }

    h3 {
      font-family: $head-font;
      color: $header-color;
      margin-bottom: 10px;
    }
    p {
      margin-bottom: 10px;
    }
  }

  img {
    width: 100%;
    border: 3px solid $light-color;
    margin-bottom: 10px;

    &:hover {
      opacity: 0.5;
      border-color: $header-color;
      @include easeOut;
    }
  }

  .project_link {
    &:hover {
      text-decoration: underline;
    }
  }
}

// Footer
#main-footer {
  text-align: center;
  padding: 1rem;
  background: darken($bg-color, 10);
  color: setTxtColor($bg-color);
  height: 50px;
}
